{{ define "main" }}

{{ if .IsHome }}
<h1 style="display: none;">{{ site.Title }}</h1>
{{ else }}
<h1>{{ .Title }}</h1>

<div class="author-tags">
    {{ partial "header-author" . }}
    {{ partial "header-tags.html" . }}
</div>

{{ end }}
<hr>

<!-- FIXME -->
{{ if gt (len .TableOfContents) 100 }}
<section class="toc">
<h3>Table of Content</h3>
{{ .TableOfContents }}
</section>
{{ end }}

{{ .Content }}

{{ partial "post-nav.html" . }}

{{ if or (not (isset .Params "commentsec")) (eq .Params.commentsec true) }}
<hr>
<script>
    let giscus = document.createElement("script");
    Object.entries({
        "src": "https://giscus.app/client.js",
        "data-repo": "kouosi/kouosi.github.io",
        "data-repo-id": "R_kgDONhDCeQ",
        "data-category": "General",
        "data-category-id": "DIC_kwDONhDCec4Cl6ep",
        "data-mapping": "url",
        "data-reactions-enabled": "0",
        "data-emit-metadata": "0",
        "data-input-position": "top",
        "data-theme": "gruvbox_" + (localStorage.getItem("theme") || 'dark'),
        "data-lang": "en",
        "crossorigin": "anonymous",
        "async": "",
    }).forEach(([key, value]) => giscus.setAttribute(key, value));
    document.querySelector("body>main").appendChild(giscus);
</script>
{{ end }}

{{ end }}
