{{ define "main" }}
<h1>tags/{{ .Title | lower }}</h1>
<hr>

<ul>
    {{ range .Data.Pages }}
    <li class="post-list-items" title='{{ .Date.Format "Posted on 2006 Jan 02, 04:05" }}'>
        <time class="posted-date" datetime="{{ .Date.UTC.Format " 2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 02, 2006" }}
        </time>
        <div class="title-and-tags">
            <a class="post-link" style="padding-left: 0;" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="post-tags">
                {{ range .Params.tags }}
                <a class="post-tags-list" href="/tags/{{ .}}"><i class="fa-solid fa-tag"></i> {{.}}</a>
                {{ end }}
            </div>
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}
